body{
      background-image: url("https://c4.wallpaperflare.com/wallpaper/651/681/131/minimalism-green-geometry-abstract-wallpaper-preview.jpg");
      background-size: cover;
      background-position: center;
    }
    .card {
        background-color: powderblue;
      }